body {
  margin: 0;
  font-family: "Circe", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
